


header nav ul{
    position: absolute;

    display: none;
    padding: 0;
   
}

header nav ul li{
    list-style-type: none;
    padding-right: 100rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
   


}